[data-scroll-container] {
  width: 100%;
  @include m-lg{
    width: 100%;
  }
}

.page-id-20 [data-scroll-container] {
  width: 100%;
}
.wrap {
  display: flex;
  @include m-lg{
    flex-direction: column;
    width: 100%;
  }
}

$section-positions: (
  home__rivieres: 25vw,
  home__videoPoster: 33vw,
  home__jerry: 52vw,
  home__makeMe: 62vw,
  home__suite: 92vw,
  home__poesie: 102vw,
  home__end: 92vw
);

.section {
  position: relative;
  display: flex;
  //height: 80vh;
  @include m-lg {
    height: initial;
    flex-direction: column;
  }

  @each $class, $left in $section-positions {
    &.#{$class} {
      left: $left;
      @include m-lg {
        left: 0;
      }
    }
  }
}
