.wrap {
  display: flex;
  @include m-lg{
    flex-direction: column;
    width: 100%;
  }
}

$section-positions: (
  home__rivieres: 25vw,
  home__videoPoster: 7vw,
  home__jerry: 19vw,
  home__makeMe: 9vw,
  home__suite: 35vw,
  home__poesie: 0,
  home__end: 7vw
);

.section {
  position: relative;
  display: flex;
  //height: 80vh;
  @include m-lg {
    height: initial;
    flex-direction: column;
  }

  @each $class, $left in $section-positions {
    &.#{$class} {

      @include lg {
        padding-left: $left;
      }
    }
  }
}
