.error404 {
  align-items: center;
  margin: auto;
  text-align: center;
  &__title{
    font-size: 6rem;
      color: $black;
      position: relative;
      font-weight: 500;
      @include lg{
        font-size: 10rem;
      }
  }
}
