.cms {
  width: 100%;
  @include m-lg{
    min-height: 100svh;
  }
  &__content{
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    & > * + * {
      margin-top: 2rem;
    }
    h1{
      font-size: 5rem;
      color: $black;
      position: relative;
      font-weight: 500;
    }
    p{
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
      @include lg {
        font-size: 1.7rem;
      }
    }
  }
}