.home {
  position: relative;
  @include lg {
    overflow-x: hidden;
  }
  .header {
    @include lg {
      a {
        color: $white;
      }
    }
    @include m-lg {
      &:not(.--active, .--white) {
        background: transparent;
        a {
          color: $white;
        }
        .header__burger .icon span {
          background: $white;
        }
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    left: 20%;
    justify-content: space-between;

    @include m-lg {
      position: relative;
      z-index: 1;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &.videoPoster {
      @include lg {
        justify-content: space-evenly;
      }
    }
    &.jerry {
      gap: 2vw;
      align-items: flex-end;
      flex-direction: row;
      @include m-lg {
        gap: initial;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &__blocs {
    display: flex;
    flex-direction: row;
  }
  &__intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include lg {
      height: 100%;
    }
    @include m-lg {
      height: 100svh;
    }
    picture {
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
        @include m-sm {
          object-position: 60%;
        }
      }
    }
    video {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: black;
      @include m-lg {
        display: none;
      }
      &.--mobile {
        display: block;
        @include lg {
          display: none;
        }
      }
    }
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: $black;
    }
  }

  &__presentation {
    @include m-lg {
      height: calc(100svh - 6rem);
      min-height: 130vw;
    }
    &::before {
      background-image: url("../images/first_bg.jpg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      left: 78%;
      opacity: 1;
      width: 209%;
      height: 100%;

      @include m-lg {
        display: none;
      }
    }
    &__flex {
      display: flex;
      @include lg {
        width: 28.8vw;
      }
      @include m-lg {
        flex-direction: column-reverse;
        min-height: 100%;
      }
      &__image {
        object-fit: cover;
        z-index: 1;
        @include lg {
          flex-shrink: 0;
          aspect-ratio: 19/26;
        }
        @include m-lg {
          position: relative;
          width: 100%;
          height: 100%;
          picture {
            height: 100%;
          }

        &::before {
          content: "";
          position: absolute;
          width: 100vw;
          height: 130vw;
          background-image: url("../images/first_bg.jpg");
          -webkit-background-size: contain;
          -moz-background-size: contain;
          background-size: contain;
          background-position: center top;
          background-repeat: no-repeat;
          z-index: 1;
          mix-blend-mode: multiply;
          transform: rotate(-100deg);
          top: -57vw;
          left: -25vw;
        }
      }
      }
    }
    &__texte {
      position: absolute;
      text-align: right;
      left: 59%;
      top: 11%;
      width: 25vw;
      z-index: 1;
      @include m-lg {
        text-align: right;
        display: flex;
        width: 100%;
        left: initial;
        top: 12vw;
        justify-content: flex-end;
        z-index: 1;
        padding: 0 2rem;
      }
    }
  }
  &__rivieres {
    display: flex;
    &::before {
      background-image: url("../images/second_bg.jpg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      left: -9%;
      width: 256%;
      z-index: -1;
      height: 100%;
      @include m-lg {
        background-image: url("../images/01-mobilev4.jpg");
        top: 0;
        width: 100vw;
        z-index: 0;
        height: 120%;
        left: 0;
        background-size: cover;
        background-position: center top;
      }
    }
    &__firstBlock {
      height: max-content;
      .flex {
        display: flex;

        flex-direction: row;
        align-items: flex-end;
        @include lg {
          gap: 2vw;
          margin-top: 2vw;
        }
        @include m-lg {
          flex-direction: column;
          margin: initial;
          align-items: center;
        }
        .texte {
          text-align: right;
          width: 15vw;
          @include m-lg {
            text-align: center;
            width: 90vw;
            margin-top: 15vw;
          }
        }
        .imagesVideo {
          @include m-lg {
            display: none;
          }
          @include lg {
            width: 29vw;
          }
          .image {
            &:nth-child(2) {
              pointer-events: none;
              position: absolute;
              width: 89%;
              left: 35%;
              top: -43%;
              @include m-lg {
                display: none;
              }
            }
          }
        }
      }
    }

    &__secondBlock {
      height: max-content;
      @include lg {
        margin-left: 10vw;
      }
      @include m-lg {
        margin-top: 15vw;
      }
      .flex {
        display: flex;
        flex-direction: row;
        gap: 2vw;
        align-items: center;
        @include m-lg {
          flex-direction: column-reverse;
          margin: initial;
          align-items: center;
          gap: 12vw;
        }
        .texte {
          display: flex;
          flex-direction: column;
          gap: 3rem;
          text-align: right;
          @include lg {
            width: 26vw;
          }

          @include m-lg {
            text-align: center;
            width: 90vw;
            gap: 15vw;
          }
        }
        .imagesVideo {
          @include lg {
            width: 30vw;
          }
          .image {
            &:nth-child(2) {
              position: absolute;
              left: 20%;
            }
          }
        }
      }
    }
  }
  &__videoPoster {

    & > * + * {
      @include lg {
        margin-left: 7.5vw;
      }
    }
    @include m-lg {
      gap: 10vw;
      margin-top: 5vw;
      margin-bottom: 10vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url("../images/01-mobilev4.jpg");
        width: 100vw;
        z-index: 0;
        background-size: cover;
        background-position: center bottom;
      }
    }
    &__posterTexte {
      display: flex;
      gap: 2vw;
      align-items: flex-end;
      @include m-lg {
        flex-direction: column;
        align-items: center;
        margin-top: 15vw;
      }
      .image {
        width: 15.6rem;
        object-fit: cover;
        @include lg {
          width: 11vw;
        }
      }
      .liens {
        gap: 1vw;
        display: flex;
        flex-direction: column;
        @include m-lg {
          position: relative;
          padding: 5vw 3vw;
          align-self: flex-end;
          gap: 4vw;
          width: 100%;
          text-align: center;
        }
        a {
          &:hover {
            text-decoration: underline;
          }
        }

        .lien {
          &__desktop {
            @include m-lg {
              display: none;
            }
          }
          &__mobile {
            @include lg {
              display: none;
            }
          }
        }
      }
    }
    .texte {
      display: flex;
      align-items: center;
      @include m-lg {
        position: relative;
        width: 90vw;
        left: 0;
        z-index: 1;
        text-align: center;
        justify-content: center;
      }
    }
  }

  &__jerry {
    &::after {
      background-image: url("../images/third_bg.jpg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      left: -113%;
      opacity: 1;
      width: 480%;
      z-index: -1;
      height: 100%;
      @include m-lg {
        /*background-image: url("../images/02-mobile.jpg");
        top: -105vw;
        width: 100vw;
        z-index: 0;
        height: 100%;
        left: 0;
        background-size: cover;
        background-position: center top;*/
        display: none;
      }
    }
    &__content {
      padding-bottom: 3rem;
      @include lg {
        padding-bottom: 1.5vw;
      }
      @include m-lg {
        text-align: center;
        display: flex;
        justify-content: center;
        position: absolute;
        height: 100%;
      }
      .texte {
        margin-bottom: 1vw;
        width: 22vw;
        @include m-lg {
          pointer-events: none;
          width: 90vw;
          margin-bottom: 0;
          position: absolute;
          color: $white;
          text-align: center;
          top: 7%;
        }
      }
      .source {
        @include m-lg {
          pointer-events: none;
          position: absolute;
          bottom: 8%;
          color: $white;
          width: 62vw;
        }
      }
    }
    .imagesVideo {
      .image {
        width: 17vw;
        display: flex;
        @include m-lg {
          width: 100%;
        }
      }
    }
  }

  &__makeMe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: 3rem;
    @include m-lg {
      display: flex;
      row-gap: initial;
      flex-direction: column;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 117%;
        top: 0;
        left: 0;
        background-image: url("../images/02-mobile.jpg");
        z-index: 0;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &__firstBlock {
      position: relative;
      z-index: 1;
      font-weight: 400;
      .flex {
        display: flex;
        flex-direction: column;
        margin-top: 1.5vw;
        @include lg {
          gap: 1.5vw;
        }
        @include m-lg {
          margin-top: 0;
          align-items: center;
        }
        .texte {
          width: 26vw;
          @include m-lg {
            width: 90vw;
          }
        }
      }
    }
    .texte {
      color: $white;
      @include m-lg {
        margin-top: 15vw;
        margin-bottom: 15vw;
        flex-direction: column;
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
    &__secondBlock {
      grid-area: 2 / 1 / 3 / 3;
      font-weight: 400;
      text-align: center;
      @include lg {
        height: 14vw;
        position: relative;
      }
      @include m-lg {
        display: flex;
        justify-content: center;
      }
      .flex {
        display: flex;
        position: relative;
        left: 18vw;
        @include lg {
          height: 100%;
        }
        & > * + * {
          @include lg {
            margin-left: 7vw;
          }
        }
        @include m-lg {
          flex-direction: column;
          left: initial;
          gap: 3rem;
        }
        .texte {
          width: 32vw;
          @include m-lg {
            width: 90vw;
            margin-top: 15vw;
            margin-bottom: 12vw;
          }
        }
        .video-container {
          @include lg {
            height: 100%;
          }
        }
        .imageVideo {
          @include m-lg {
            display: none;
          }
          .image {
            width: 20rem;
            @include m-lg {
              width: 100%;
            }
          }
          video {
            width: 10vw;
            @include lg {
              max-height: 15.5vw;
              height: 100%;
            }
            @include m-lg {
              width: 100%;
            }
          }
        }
      }
    }
    &__thirdBlock {
      left: 7vw;
      position: relative;
      @include m-lg {
        left: initial;
      }
      .flex {
        @include m-lg {
          display: none;
        }
        gap: 1rem;
        display: flex;
        flex-direction: column;
        @include lg {
          align-items: flex-end;
        }
        .texte {
          width: 19vw;
        }
        .imageVideo {
          display: flex;
          justify-content: flex-end;
          @include lg {
            width: 21vw;
          }
        }
        .title {
          gap: 2rem;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          .texte {
            color: $primary;
            font-weight: 400;
            @include lg {
              text-align: right;
              font-size: 0.8vw;
            }
            @include m-lg {
              display: none;
            }
          }
        }
      }
      .link {
        text-align: center;
        z-index: 10;
        @include lg {
          position: absolute;
          right: -10vw;
          top: 19.5vw;
        }
        @include m-lg {
          width: 100%;
          color: $white;
          a {
            font-weight: 400;
            display: block;
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__suite {
    align-items: center;
    &::before {
      background-image: url("../images/last_bg.jpg");
      background-size: contain;
      background-position: right center;
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      right: -8vw;
      opacity: 1;
      width: 100%;
      top: 3%;
      z-index: -1;
      height: 100%;
      @include m-lg {
        background-image: url("../images/03-mobile.jpg");
        bottom: -29vw;
        top: auto;
        width: 100vw;
        z-index: 0;
        height: 100%;
        left: 0;
        background-size: contain;
        background-position: center bottom;
      }
    }
    &__texteSuite {
      display: flex;
      align-items: center;
      position: relative;
      @include lg {
        margin-right: 3vw;
      }
      @include m-lg {
        flex-direction: column;
        margin-top: 20vw;
        margin-bottom: 15vw;
      }
      &::before {
        background-image: url("../images/taches.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        content: "";
        position: absolute;
        width: 1.8vw;
        left: -4vw;
        height: 2vw;
        opacity: 1;
        z-index: 1;
        @include lg {
          background-size: contain;
        }
        @include m-lg {
          display: none;
        }
      }
    }
    .image {
      width: 29vw;
      @include m-md {
        width: 100%;
      }
      picture {
        @include m-md {
          height: 90vw;
        }
      }
    }
    &__texte {
      @include lg {
        margin-left: 25vw;
        margin-right: 6vw;
        width: 23vw;
        text-align: right;
      }

      @include m-lg {
        position: relative;
        z-index: 1;
        margin-left: initial;
        text-align: center;
        margin-top: 30vw;
        width: 80vw;
        margin-bottom: 30vw;
      }
    }
  }

  &__poesie {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    @include lg {
      height: 100%;
    }
    @include m-lg {
      height: calc(100svh - 6rem);
      min-height: 130vw;
    }
    .image {
      width: 100vw;
      height: 100%;
      object-fit: cover;
      background: $black;
      @include m-lg {
        width: 148rem;
        height: 100%;
        picture {
          height: 100%;
        }
      }
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: $black;
      @include m-md {
        display: none;
      }
    }
    &__poeme {
      position: absolute;
      color: $white;
      @include lg {
        left: 18vw;
        top: 50%;
        transform: translateY(-50%);
      }

      @include m-lg {
        left: 0;
        width: 100%;
        padding: 2rem;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
      }
    }
  }

  &__end {
    align-items: center;
    @include lg {
      padding-right: 7vw;
      width: 100vw;
      justify-content: space-between;
    }
    @include m-lg {
      flex-direction: column;
      padding: 6rem 2rem;
      gap: 6rem;
      min-height: calc(100svh - 6rem);
    }
    & > * + * {
      @include lg {
        margin-left: 7vw;
      }
    }
    .image {
      @include lg {
        width: 15vw;
      }
      @include m-lg {
        width: 20rem;
      }
    }
    &__left {
      display: flex;
      align-items: center;
      @include m-lg {
        flex-direction: column;
        gap: 6rem;
      }
      & > * + * {
        @include lg {
          margin-left: 7vw;
        }
      }
    }
    &__texte {
      width: 12.9vw;
      @include m-lg {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
      }
    }
    &__films {
      display: flex;
      flex-direction: column;
      text-align: right;
      @include m-lg {
        align-items: center;
      }
    }
  }

  .source {
    font-weight: 400;
    font-size: 1.2rem;
    @include lg {
      font-size: 0.8vw;
    }
  }
}
