.btn{
  background: $primary;
  font-size: 1.3rem;
  font-weight: 600;
  color: $white;
  padding: 1.3rem 2.4rem;
  display: flex;
  align-items: center;
  width: max-content;
  border: 0.1rem solid $primary;
  text-align: center;
  transition: 0.3s all;
  cursor: pointer;
  border-radius: 10rem;
  line-height: 100%;
  @include m-md{
    padding: 1.2rem 2.4rem;
  }
  &:hover{
    background: $white;
    color: $primary;
  }
  &__black {
    background: $black;
    color: $white;
    border: 0.1rem solid $black;

    &:hover {
      background: $white;
      color: $black;
    }
  }
  &__neg {
    background: transparent;
    color: $black;
    border: 0.1rem solid $black;

    &:hover {
      background: $black;
      color: $white;
    }
  }

  &__reverse{
    background: transparent;
    color: $primary;
    border: 0.1rem solid $primary;
    &:hover{
      background: $primary;
      color: $white;
    }
  }

  &__white {
    background: $white;
    color: $black;
    border: 0.1rem solid $white;

    &:hover {
      background: transparent;
      color: $white;
    }
  }
  &__white-reverse {
    background: transparent;
    color: $white;
    border: 0.1rem solid $white;

    &:hover {
      background: $white;
      color: $black;
    }
  }
}

.float-button{
  position: absolute;
  top: 89.5%;
  .btn{
    padding: 1.5rem 5.6rem;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: normal;
    @include m-md{
      font-size: 1.5rem;
      padding: 1.7rem 3.6rem;
    }
  }
}