.header {
  $header: &;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.5s all;

  @include m-lg{
    background: transparent;
    width: 100vw;
    position: fixed;
    &.--white{
      background: $white;
    }
  }
  &.--hide{
    opacity: 0;
    transform: translateY(-1vw);
    &::after{
      opacity: 1;
    }
  }
  @include lg{
    &:hover{
      opacity: 1;
      transform: translateY(0);

      a{
        color: $white;
      }
      .header__content{
        &::after{
          opacity: 1;
        }
      }
    }
  }

  .logo{
    position: absolute;
    left: 50%;
    top: 1.7rem;
    z-index: 1000;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
    @include lg{
      top: 0;
      font-size: 1.5rem;
      height: 100%;
    }
    @include xl{
      font-size: 1.7rem;
    }
  }
  &__title {
    position: absolute;
    bottom: 0%;
    left: 50%;
    text-transform: lowercase;
  }
  &__content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2vw 3vw;
    z-index: 3;
    @include lg{
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.00) 100%);
        opacity: 0;
        transition: 0.5s all;
      }
    }

    @include m-lg{
      margin-top: initial;
      flex-direction: column;
      align-items: flex-end;
      padding: initial;
      width: 100%;
    }
    & > * + * {
      margin-left: 1.5rem;
    }
  }
  &__menu{
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    z-index: 2;
    @include lg{
      font-size: 1.5rem;
    }
    @include xl{
      font-size: 1.7rem;
    }
    @include m-lg{
      left: 0;
      top: 0;
      width: 100%;
      height: 100svh;
      background: rgba($black, 0.75);
      overflow-y: auto;
      z-index: 200;
      transition: 0.5s transform;
      opacity: 0;
      pointer-events: none;
      transition: all ease 0.2s;
      margin: 0;
      position: absolute;
      &.--active {
        opacity: 1;
        pointer-events: all;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
      nav{
        @include m-lg{
          position: relative;
          width: 100%;
          max-width: 100%;
          overflow-y: auto;
        }
      }
    }
    &__menuOne{
      display: flex;
      width: 100%;

      justify-content: space-between;
      @include m-lg{
        flex-direction: column;
        height: calc(100vh - 6.4rem);
        overflow-y: auto;
        justify-content: initial;
        background-color: $white;
      }
    }
    &__mobile{
      display: none;
      @include m-lg{
        display: flex;
      }
    }
    &__desktop{
      display: flex;
      @include m-lg{
        display: none;
      }
    }
    &__top{
      display: none;
      background-color: $white;
      padding: 2rem;
      align-items: center;
      justify-content: flex-end;
      @include m-lg{
        display: flex;
        transition: transform ease 0.5s;
      }
      &__btn{
        display: flex;
        a{
          padding: 1.1rem 1.7rem;
        }
        & > * + * {
          margin-left: 1rem;
        }
      }
      &.--active {
        opacity: 1;
      }
    }
    &__nav{
      display: flex;
      width: max-content;
      color: $white;
      li {

        font-weight: 300;
        @include m-lg{
          color: $primary;
        }
      }
      & > * + * {
        @include m-lg{
          margin-top: 3.5rem;
        }
        @include lg{
          margin-left: 2.5rem;
        }
      }
      @include m-lg{
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100svh;
        background: $white;
        display: flex;
        align-items: center;
        padding: 2rem;
        transform: translateX(-10%);
        transition: transform ease 0.5s;
        font-size: 2.1rem;
        @include m-lg{
          height: initial;

        }
        &.--active {
          opacity: 1;
            transform: translateX(0);
        }
      }
      .current-menu-parent, .current_page_parent {
        a{
          color: $primary;
        }
        .sub-menu{
          .current-menu-item a{
            color: $primary;
          }
        }
        .current-menu-item{
          a{
            color: $primary;
          }
        }
      }

    }
  }
  a{
    color: $black;
  }
  &__burger {
    position: relative;
    z-index: 100;
    padding: 2rem;
    background: none;
    border: none;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 2.6rem;
    @include lg {
      display: none;
    }
    &.--active{
      display: none;
    }
    .icon {
      width: 3rem;
      span {
        background: $black;
        display: block;
        height: 0.1rem;
        width: 100%;
        transition: 0.3s margin;
        @include md {
          transition: 0.2s margin;
        }
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
    @include m-lg {
      &.--active {
        display: none;
      }
    }
  }
  &__close {
    z-index: 1;
    top: 2rem;
    background: $black;
    right: 100%;
    width: 2.4rem;
    height: 2.4rem;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.0226 1.09876L1.06066 23.0607L0 22L21.9619 0.0380963L23.0226 1.09876Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.0226 23.0226L0.0606601 1.06066L1.12132 0L23.0832 21.9619L22.0226 23.0226Z' fill='white'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s all;
    @include lg {
      display: none;
    }
    &.--active {
      right: 2.5rem;
      opacity: 1;
    }
  }
  &__left{
    display: flex;
    align-items: center;
    & > * + * {
      margin-left: 1.4rem;
    }
    @include lg{
      display: none;
    }
  }
  &__logo {
    display: flex;
    width: 12.3rem;
    @include lg{
      width: 16.9rem;
    }
  }
  &__right{
    display: flex;
    align-items: center;
    & > * + * {
      margin-left: 1.3rem;
    }
    .btn{
      &:first-child{
        @include m-lg{
          display: none;
        }
      }
    }

  }
}
